# This .gitignore file should be placed at the root of your Unity project directory
#
# IGNORE EVERYTHING
#
/*
/*/
/ProjectSettings/

# Main Files 
!/ProjectSettings/ProjectSettings.asset
!/ProjectSettings/ProjectVersion.txt
!/Assets/SourceDeveloperConsole/

# Git Repository files
!.gitignore
!.gitattributes
!README.md

!/*.png
!package.json